/*!
Theme Name: theme_name_change_me
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: theme_name_change_me
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

theme_name_change_me is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquoteafter,blockquotebefore,qafter,qbefore{content:"";content:none}table{border-collapse:collapse;border-spacing:0}html{box-sizing:border-box;background-color:#fff;height:100%}*,:after,:before{box-sizing:inherit}body{overflow-x:hidden}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}audio,canvas,iframe,img,svg,video{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}img{height:auto;max-width:100%}button:focus,input:focus,select:focus,textarea:focus{outline:none}main{display:block}html{font-size:1rem}body{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;text-rendering:optimizeLegibility;font-family:游ゴシック,Yu Gothic,YuGothic,Hiragino Kaku Gothic ProN,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ ゴシック,sans-serif;font-weight:400;line-height:1.45;color:#222}@media (max-width:767px){body{font-size:.875rem}}.big,.bigger,.gigantic,.huge,.large,h1,h2,h3,h4,h5,h6{margin:1.414em 0 .5em;color:$color-heading;font-family:游明朝体,Yu Mincho,YuMincho,Hiragino Kaku Gothic ProN,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ ゴシック,sans-serif;font-weight:700;line-height:1.2}.huge,h1{font-size:2.441rem;margin-top:0}@media (max-width:767px){.huge,h1{font-size:2.074rem}}.large,h2{font-size:1.953rem}@media (max-width:767px){.large,h2{font-size:1.728rem}}.bigger,h3{font-size:1.563rem}@media (max-width:767px){.bigger,h3{font-size:1.44rem}}.big,h4{font-size:1.25rem}@media (max-width:767px){.big,h4{font-size:1.2rem}}.small,small{font-size:.8rem}@media (max-width:767px){.small,small{font-size:.833rem}}p{margin:0 0 1.3em;font-weight:400}em{font-style:italic}strong{font-weight:700}sup{position:relative;margin-left:.1em;top:-.9em;font-size:.5em}::selection{background:rgba(255,133,27,.3)}::-moz-selection{background:rgba(255,133,27,.3)}img::selection{background:transparent}img::-moz-selection{background:transparent}body{-webkit-tap-highlight-color:rgba(255,133,27,.3)}a{color:#ff851b;text-decoration:none;outline:0;border-bottom:1px solid transparent;opacity:1;transition:opacity .3s}a:active,a:focus,a:hover{opacity:.8}h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:$color-heading}@media print{*,:after,:before{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}a[href^="#"]:after,a[href^="javascript:"]:after{content:""}blockquote,pre{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}img,tr{page-break-inside:avoid}img{max-width:100%!important}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}}.wrapper{width:100%;max-width:1088px;margin:0 auto;padding:0 24px}@media (max-width:767px){.wrapper{max-width:100%;padding:0 21px}}.header{padding:30px 0;border-bottom:1px solid #ddd}.footer{padding:20px 0;border-top:1px solid #ddd}.footer__copyright{margin:0}.nav{display:flex;justify-content:space-between;align-items:center}.nav__list{display:block}.nav__item{display:inline-block;margin-left:1em}.nav__item:first-child{margin-left:0}.nav__logo{display:block;width:200px}.ol{list-style:none;counter-reset:counter}.ol__item{position:relative;padding-left:1.6em;margin-top:.3em}.ol__item:first-child{margin-top:0}.ol__item:before{content:counter(counter);counter-increment:counter;position:absolute;top:50%;transform:translateY(-50%);left:0;font-size:.6em;font-weight:700;border:1px solid #ddd;padding:.3em .5em;line-height:1;box-shadow:.5px .5px .5px rgba(0,0,0,.15)}.ul{list-style:none;padding-left:.95em}.ul__item{position:relative;padding-left:1.4em;text-indent:-1.4em;margin-top:.3em}.ul__item:first-child{margin-top:0}.ul__item:before{content:"・";position:absolute;top:50%;transform:translateY(-50%);left:0;font-size:1.5em;font-weight:700}.link-img{display:inline-block;border:none;transition:opacity .6s}.link-img:active,.link-img:focus,.link-img:hover{opacity:.8}.copyright__text{margin:0;text-align:center;font-size:.75rem}.u-centered{top:50%;transform:translate(-50%,-50%)}.u-centered,.u-centered-x{display:block;position:absolute;left:50%}.u-centered-x{transform:translateX(-50%)}.u-centered-y{display:block;position:absolute;top:50%;transform:translateY(-50%)}.u-hidden{margin:-1px!important;padding:0!important;width:1px!important;height:1px!important;clip:rect(0 0 0 0)!important;clip:rect(0,0,0,0)!important;position:absolute!important}.u-ellipsis,.u-hidden{overflow:hidden!important}.u-ellipsis{white-space:nowrap!important;text-overflow:ellipsis!important}.hidden{visibility:hidden}.remove{display:none}.u-simple-cf{overflow:hidden}.u-clearfix{zoom:1!important}.u-clearfix:after,.u-clearfix:before{content:"\0020"!important;display:block!important;height:0!important;overflow:hidden!important}.u-clearfix:after{clear:both!important}@media (min-width:768px){.desktop-only{display:block!important}.mobile-only{display:none!important}.desktop-only-i{display:inline!important}.mobile-only-i{display:none!important}.desktop-only-ib{display:inline-block!important}.mobile-only-ib{display:none!important}.desktop-only-tc{display:table-cell!important}.mobile-only-tc{display:none!important}}@media (max-width:767px){.mobile-only{display:block!important}.desktop-only{display:none!important}.mobile-only-i{display:inline!important}.desktop-only-i{display:none!important}.mobile-only-ib{display:inline-block!important}.desktop-only-ib{display:none!important}.mobile-only-tc{display:table-cell!important}.desktop-only-tc{display:none!important}}
/*# sourceMappingURL=style.css.map */
